/overclocked_hd.zip
/screencapture-file-C-Users-aniru-Desktop-SG-settlement-guru-proposal-html-2026-01-18-22_53_09.pdf
/screencapture-file-C-Users-aniru-Desktop-SG-settlement-guru-proposal-html-2026-01-18-22_53_09.png